p.equation {
  border: 1px solid #88b2d4;
  border-radius: 8px;
  background: #eee;
}

div.variables {
	width: 100%;
	display: table;
}

div.input, div.output {
	display: table-cell;
  vertical-align: top;
}

dl {
	overflow: hidden;
}

dt, dd {
	float: left;
	margin: 0 0 1em; 
}

dt {
	color: #88b2d4;
	width: 10%;
	clear: left;
}

dd {
	width: calc(90% - 1em);
	margin-left: 1em;
}

dd:after {
	content: '';
	display: table;
  clear: both;
}

