main > p {
  padding-left: 1em;
  padding-right: 1em;
}

form { 
  margin: 0 auto;
  counter-reset: fieldsets
}

/* Number the fieldset steps. */
fieldset legend::before {
  content: counter(fieldsets);
  counter-increment: fieldsets;

  display: inline-block;
  border-radius: 50%;
  margin-right: 0.5em;
  line-height: 1.6em;
  text-align: center;

  width: 1.5em;
  background: #88b2d4;
  box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.5);
}

/* Hide the number for total. */
fieldset:last-of-type legend::before {
  display: none;
}

fieldset legend {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

fieldset { 
  width: 65%;
  margin: 0 auto;
  background: #eee;
  border-radius: 0.5em;
  margin-bottom: 2em;
  border: 1px solid #88b2d4;
}

div.subtotal p {
  color: #88b2d4;
  font-weight: bold;
  text-align: center;
}

label {
  display: inline-block;
  width: 18.5em;
  text-align: right;
  padding-right: 1em;
  margin-bottom: 0.5em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  label {
    text-align: left;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

/* Hide spinners. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input, textarea {
  border: 0.12em solid #cacaca;
  border-radius: 0.5em;
  padding: 0.25em;
  width: 10em;
}

input:focus, textarea:focus { 
  outline: none;
  border-color: #88b2d4;
  box-shadow: 0 0 0.25em #88b2d4;
  padding: 0.25em;
  transition: box-shadow 0.2s linear;
}

input[readonly], input[readonly]:focus {
  border: 0;
  border-color: transparent;
  cursor: default;
  background-color: #ddd;
  pointer-events: none;
}

