@font-face {
  font-family: 'MyUnderwood';
  src: url( 'MyUnderwood.ttf' );
}

@font-face {
  font-family: 'LibreBaskerville';
  font-style: normal;
  font-weight: normal;
  src: url( 'LibreBaskerville-Regular.ttf' );
}

@font-face {
  font-family: 'LibreBaskerville';
  font-style: normal;
  font-weight: bold;
  src: url( 'LibreBaskerville-Bold.ttf' );
}

@font-face {
  font-family: 'LibreBaskerville';
  font-style: italic;
  font-weight: normal;
  src: url( 'LibreBaskerville-Italic.ttf' );
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url( 'Roboto-Regular.ttf' );
}

body {
  font-family: 'LibreBaskerville';
}

h1 {
  font-family: 'Roboto';
}

table {
  border: 1px solid black;
  margin-bottom: 1em;
}

h2 {
  padding-top: 0.5em;
  font-size: 1.1em;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
}

hr {
  display: block;
  background-image: url( edible.svg );
  background-size: 100% 100%;
  height: 1em;
  width: 1em;
  border: 0;
  margin: 0 auto;
  text-align: center;
}

blockquote > p > em {
  font-family: 'MyUnderwood', 'Courier', monospace;
  font-size: 0.75em;
}

