/* */
body {
  counter-reset: overview;
}

div.date, div.elapsed, div.location, div.summary, div.major, div.minor,
div.growth, div.weather, div.advancement, div.revealment, div.plot,
div.action,  div.key, div.theme, div.setting, div.goal, div.conflict,
div.disaster, div.failure, div.development, div.reaction, div.dilemma,
div.decision {
  background-color: rgb( 215, 215, 215 );
  border-left: solid .25em;
  padding-left: 1em;
  margin-bottom: 1em;
}

div.overview::before, div.scene::before, div.sequel::before,
div.date::before, div.elapsed::before, div.location::before,
div.summary::before, div.major::before, div.minor::before, div.growth::before,
div.weather::before, div.advancement::before, div.revealment::before,
div.plot::before, div.action::before, div.key::before, div.theme::before,
div.setting::before, div.goal::before, div.conflict::before,
div.disaster::before, div.failure::before, div.development::before,
div.reaction::before, div.dilemma::before,
div.decision::before {
  font-weight: bold;
}

div.date::before { content: 'Timeline'; }
div.elapsed::before { content: 'Time elapsed (previous scene)'; }
div.location::before { content: 'Location'; }
div.summary::before { content: 'Summary'; }
div.major::before { content: 'Major characters'; }
div.minor::before { content: 'Minor characters'; }
div.growth::before { content: 'Character growth'; }
div.weather::before { content: 'Weather'; }
div.advancement::before { content: 'Story advances'; }
div.revealment::before { content: 'Backstory revealed'; }
div.plot::before { content: 'Plot points'; }
div.action::before { content: 'Dramatic action'; }
div.key::before { content: 'Key moment or information'; }
div.theme::before { content: 'Thematic significance'; }
div.setting::before { content: 'Setting details'; }
div.goal::before { content: 'Character goal'; }
div.conflict::before { content: 'Conflict, tension, or suspense'; }
div.disaster::before { content: 'Disaster, obstacles, or setbacks'; }
div.failure::before { content: 'Protagonist failure'; }
div.development::before { content: 'Emotional development'; }
div.reaction::before { content: "Reaction (character's pain)"; }
div.dilemma::before { content: 'Dilemma (terrible options)'; }
div.decision::before { content: 'Decision (least risky option)'; }

/* Shrink whitespace between title content and text. */
div > p {
  padding: 0;
  margin: 0;
}

div.date {
  margin-top: .5em;
}

div.overview::before {
  font-size: 1.5em;
}

div.overview::before {
  counter-increment: overview;
  content: 'Storyline ' counter(overview);
}

div.scene::before {
  font-size: 1.25em;
  content: 'Scene';
}

div.sequel::before {
  font-size: 1.25em;
  content: 'Sequel';
}

/* Basic poem formatting */
div.limerick {
  white-space: pre;
  margin: 0;
  padding: 0;
  margin-left: 2em;
  font-style: italic;
}

